In [2]:
import pandas as pd
import numpy as np
import sklearn 
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("Company Attrition Data.csv")

In [4]:
df.head(7)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Sales_Occured,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
5,0.41,0.50,2,153,3,0,1,0,sales,low
6,0.10,0.77,6,247,4,0,1,0,sales,low

In [6]:
df.shape

(14999, 10)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   Sales_Occured          14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [8]:
df.isna().sum() ###no missing values

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
Sales_Occured            0
salary                   0
dtype: int64

In [9]:
df.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'Sales_Occured', 'salary'],
      dtype='object')

In [11]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [13]:
for i in ['Sales_Occured', 'salary']:
    df[i]=le.fit_transform(df[i])

In [14]:
X=df.drop('left',axis=1)
y=df.left

In [15]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=42,stratify=y)

In [16]:
for i in range(1,30):
    rfc=RandomForestClassifier(max_depth=i)
    rfc.fit(X_train,y_train)
    pred = rfc.predict(X_test)
    accuracy_score(y_test, pred)
    print(f'{i}    {accuracy_score(y_test, pred)}')

1    0.762020202020202
2    0.9064646464646464
3    0.9107070707070707
4    0.9515151515151515
5    0.9761616161616161
6    0.98
7    0.9812121212121212
8    0.9826262626262626
9    0.9832323232323232
10    0.9846464646464647
11    0.9854545454545455
12    0.9874747474747475
13    0.9884848484848485
14    0.9894949494949495
15    0.9896969696969697
16    0.9903030303030304
17    0.9905050505050506
18    0.9913131313131314
19    0.990909090909091
20    0.9907070707070708
21    0.990909090909091
22    0.9913131313131314
23    0.9913131313131314
24    0.9915151515151515
25    0.9911111111111112
26    0.9915151515151515
27    0.9913131313131314
28    0.9913131313131314
29    0.9915151515151515

In [17]:
for i in range(1,20):
    dtc=DecisionTreeClassifier(max_depth=i)
    dtc.fit(X_train,y_train)
    pred = dtc.predict(X_test)
    print(f'{i}    {accuracy_score(y_test, pred)}')

1    0.8153535353535354
2    0.8460606060606061
3    0.9537373737373738
4    0.9711111111111111
5    0.9753535353535353
6    0.9775757575757575
7    0.9804040404040404
8    0.9797979797979798
9    0.9781818181818182
10    0.9771717171717171
11    0.9783838383838384
12    0.9773737373737373
13    0.9769696969696969
14    0.9725252525252526
15    0.9715151515151516
16    0.9751515151515151
17    0.971919191919192
18    0.972929292929293
19    0.9725252525252526

In [19]:
# RandomForestClassifier
rfc=RandomForestClassifier(max_depth=28)
rfc.fit(X_train,y_train)
pred = rfc.predict(X_test)
accuracy_score(y_test, pred)

0.9913131313131314

In [20]:
# DecisionTreeClassifier
dtc=DecisionTreeClassifier(max_depth=9)
dtc.fit(X_train,y_train)
pred = dtc.predict(X_test)
accuracy_score(y_test, pred)

0.9785858585858586